<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}"/>
</head>
<body>
<div class = "main">
    <div class = "container">
        <div class = "loginform">
            <form th:action="@{/login}" method="post">
                <label for="username">mail</label>:
                <input type="Email" id="username" name="username"
                       class  = "forminp"/> <br /><br>
                <label for="password">Password</label>:
                <input type="password" id="password" name="password"
                       class  = "forminp"/> <br /><br>
                <div class = "form-btns">
                    <input type="submit" value="Log in" />
                    <label for = "remember-me">Remember me</label>
                    <input type = "checkbox" id="remember-me" name="remember-me">
                    <button type = "button"><a href="/signup">Register</a></button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>