<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}"/>
</head>
<body>
<div class = "main">
    <div class = "container">
        <div class = "loginregisterform">
            <form th:action="@{/register}"
                  method="post">
                <label for="username">E-Mail:</label><br>
                <input type="Email" id="username" name="username"
                       class  = "forminp"/> <br /><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password"
                       class  = "forminp"/> <br /><br>
                <div class = "form-btns">
                    <input type="submit" value="Login" />
                    <a href="/register"><input type="Button" value="Register"></a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>